@use "../styleComp/info.scss";

.home {
  height: 150vh;
  background-image: url("/public/img/compassMap.jpg");
  background-position: center;
  background-size: cover;

  .landing-page-form {
    z-index: 10%;
    width: 56%;
    height: 5%;
    border-radius: 30px;
    border: 1px solid white;
    box-shadow: 15px 15px 20px 35px rgba(0, 0, 0, 0.634);
    #search-box {
      font-size: 1.5em;
      width: 90%;
      font-style: oblique;
    }
  }
}
