@use "./pagesStyle/home.scss";
@use "./pagesStyle/mapPage";
@use "./navStyle/inputForm";
@use "./navStyle/menu";
* {
  padding: 0%;
  margin: 0%;
}

.App {
  overflow-x: hidden;

  ul {
    list-style: none;
  }
}

@media all and (min-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  nav {
    display: none;
  }
}
