.content {
  padding: 20px;
  display: grid;
  align-items: center;
  grid-gap: 30%;
  grid-template-columns: repeat(2, auto);
}

.right {
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.567) 5px 5px 5px 5px;
  border-color: white;
  text-decoration: none;
  width: 40vw;
  height: 60vh;
}

.left {
  width: 100%;
  background-color: red;
  .country-imgs {
    width: 30vw;
    .li-imgs {
      width: inherit;
      margin: 20%;
      align-items: center;
      justify-content: center;
      width: inherit;
      background-color: transparent;
      box-shadow: rgba(0, 0, 0, 0.567) 5px 5px 5px 5px;
      border-color: white;
    }
  }
  .arms-img {
    height: 15vh;
    width: 10vw;
  }
  .flag-img {
    width: inherit;
  }
  color: white;
  font-size: 0.8em;
}
