.content {
  width: 100%;
  padding: 20px;
  display: grid;
  align-items: center;
  grid-gap: 5%;
  grid-template-columns: repeat(2, auto);
}

.left {
  background-color: rgba(234, 15, 62, 0.949);
  box-shadow: rgba(0, 0, 0, 0.567) 5px 5px 5px 5px;
  border-color: white;
  text-decoration: none;
  width: 60vw;
  height: 70vh;
}

.right {
  width: 80%;

  align-items: center;

  .country-imgs {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.567) 5px 5px 5px 5px;
    border-radius: 5%;
    .li-imgs {
      color: black;
      border-bottom: 1px black solid;
      width: inherit;
      margin-bottom: 0%;
      align-items: center;
      justify-content: center;
      width: inherit;
      background-color: transparent;
    }
  }
  .arms-img {
    height: 15vh;
    width: 7vw;
  }
  .flag-img {
    width: inherit;
    border-radius: 2%;
  }
  color: white;
  font-size: 0.8em;
}
