form {
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  input[type="search"] {
    outline: none;
    font-size: 1em;
    font-weight: bolder;
    padding: 7px 8px;
    border: none;
    background-color: transparent;
    border-radius: inherit;
  }
  button {
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent;
    cursor: pointer;
  }
}
